<!-- success.html -->
{% extends "base.html" %}
{% block title %}Registration Successful{% endblock %}
{% block head %}{% endblock %}
{% block content %}

<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Stop waiting.<br>Start building.</h2>
            <div class="inner-box-container" style="height: Auto">
                <div class="box" >
                <p>Registration Completed Successfully,</br>
                Thank you for registering.</p>
                 </br>
                   <div align = "center">
                  <a><button type="button" class="btn btn-outline btn-xl page-scroll" style="background-color: transparent;" onclick="window.location.href='/' ">Login</button></a>
                   </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="overlay"></div>
</section>
{% endblock %}
